<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Galeb Manager API</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <h1>Galeb Manager API</h1>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form th:action="@{/login}" class="form" method="post">
                    <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" placeholder="Password"/>
                    <button type="submit" id="login-button">Sign In</button>
                </form>
                <div th:if="${param.error}" class="error">
                    Invalid username and password.
                </div>
            </div>
            <ul class="bg-bubbles">
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
           </ul>
       </div>
    </body>
</html>
